body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans';
}

h1 {
    font-family: 'EB Garamond', serif;
    margin:0;
    font-weight:100;
}
#logo{

        height: 8em;
        margin-bottom: 1em;
}
p{
    margin: 0;
}

#main{
    font-size: 1.5em;
}

#mainicon {
    height: 3em;
    margin: 3em 0 1em;
}